body
{
    padding : 0;
    margin : 0;
    background : #f2f2f2;
}

.navbar {
    background-color: gainsboro;
}

.nav-link,
.navbar-brand{
    color : black;
    cursor:  : pointer;
}

.nav-link {
    margin-right : 1em !important;
}

.nav-link:hover {
  color: gray;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url(Images/snowField.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 80%
    
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
    height: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
    max-height: 55%;
}
.description h1 {
  color: #000;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
    text-align: center;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.contacttitle
{
    padding : 5%;
    text-align: center;
}
.list
{
    padding: 5%;
}
.traveltips
{
   padding: 5%;
    text-align: center;
}
.tile
{
    margin-bottom: 10%;
    border :  gray solid 2px;
    border-radius: 10px;
    padding: 5%;
}
.contactforms
{
    padding-bottom:  10%;
}
ul
{
    text-align: left;
}
footer
{
    background-color: white;
    color :black;
}
li.adres {
  background: url(Images/maps.png) no-repeat 10px;
  padding: 0px 0px 0px 35px;
    list-style: none;
}
li.phone{
     background: url(Images/phone.png) no-repeat 10px;
  padding: 0px 0px 0px 35px;
    list-style: none;
}
li.email{
     background: url(Images/mail.png) no-repeat 10px;
  padding: 0px 0px 0px 35px;
    list-style: none;
}
li{
    margin: 1%;
    
}
.explained
{
    padding: 0px 0px 0px 45px;
    font-size: 13px;
    max-width: 300px;
}
footer
{
    font-size: 14;
}
.biography
{
    text-align: left;
    font-size: 80%;
    padding-top: 10%;
    max-width: 400px;
    
}
.headshot{
    border: solid black 5px;
    border-radius: 10%;
    padding: 4px;
    margin: 10%;
}
.author
{
   font-family: 'Symphony'; 
    font-size: 14;
    text-align: right;
    max-width: 400;
}
#nomargin
{
    margin-top: 0;
    margin-bottom: 0;
}
a
{
    color:black;
}
@font-face {
  font-family: 'Symphony';
  src: url('FontSymphony/Symphony-Regular.eot')
       url('FontSymphony/Symphony-Regular.woff') format('woff'),
       url('FontSymphony/Symphony-Regular.ttf')  format('truetype')
 
}